In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel

import xgboost as xgb

from dataio import getdata, writesub

In [5]:
feats5 = pd.read_csv("feature_combos_5.csv")
feats10 = pd.read_csv("feature_combos_10.csv")
feats15 = pd.read_csv("feature_combos_15.csv")

trainpath = 'train.csv'
testpath = 'test.csv'
df_train, df_test = getdata(trainpath,testpath)

In [6]:
feats5.head(10)

,Unnamed: 0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,combinedAUC
0,0,var15,saldo_var42,num_var35,num_var4,saldo_medio_var5_ult1,saldo_var5,var38,num_var30_0,imp_op_var41_ult1,...,ind_var13_0,num_var13_0,num_var42_0,num_var8_0,imp_op_var41_efect_ult1,num_var22_ult3,ind_var13_corto,saldo_var13_corto,ind_var43_recib_ult1,0.814596
1,1,var15,saldo_var42,num_var35,num_var4,num_var30,var36,var38,num_meses_var39_vig_ult3,num_var30_0,...,imp_op_var41_ult1,ind_var12_0,ind_var13,ind_var13_0,num_var42_0,num_var45_ult3,ind_var13_corto,saldo_var13_corto,ind_var43_recib_ult1,0.812961
2,2,var15,saldo_medio_var5_hace2,num_var4,num_meses_var5_ult3,num_var42,var36,var38,num_meses_var39_vig_ult3,num_var30_0,...,num_var13,saldo_var13,num_var8_0,ind_var8_0,num_var45_hace3,num_var22_ult3,num_var13_corto,saldo_medio_var13_corto_ult3,ind_var43_recib_ult1,0.812723
3,3,var15,saldo_var42,num_var4,saldo_var5,num_var42,ind_var5,var38,num_meses_var39_vig_ult3,num_var30_0,...,imp_op_var39_ult1,ind_var13,num_var39_0,num_var45_hace3,num_var22_ult3,imp_op_var39_efect_ult1,ind_var13_corto,saldo_var13_corto,saldo_medio_var13_corto_ult1,0.812225
4,4,var15,saldo_var42,num_var35,saldo_var5,saldo_medio_var5_hace3,var36,var38,ind_var39_0,ind_var41_0,...,ind_var13,num_var13_0,ind_var8_0,num_var45_hace3,num_var22_ult3,saldo_var13_corto,saldo_medio_var13_corto_ult3,saldo_medio_var13_corto_ult1,ind_var43_recib_ult1,0.812082
5,5,var15,saldo_var42,num_var35,num_var4,saldo_medio_var5_ult1,saldo_var5,saldo_medio_var5_hace3,num_var5,var36,...,ind_var39_0,ind_var12_0,ind_var13,num_var13_0,num_var42_0,num_var8_0,imp_op_var41_efect_ult1,num_var22_ult3,saldo_var13_corto,0.812064
6,6,saldo_var30,var15,saldo_var42,saldo_medio_var5_ult1,saldo_var5,var36,var38,num_meses_var39_vig_ult3,num_var30_0,...,saldo_var13,num_var39_0,ind_var13_0,imp_op_var41_efect_ult1,num_var45_ult3,num_var22_ult3,imp_op_var39_efect_ult1,saldo_var13_corto,ind_var43_recib_ult1,0.811874
7,7,saldo_var30,var15,saldo_medio_var5_hace2,saldo_var42,num_var35,saldo_medio_var5_ult1,num_var30,ind_var30,num_var42,...,var38,imp_op_var41_ult1,num_var12_0,num_var13_0,num_var42_0,imp_op_var39_efect_ult1,ind_var13_corto,num_var13_corto,saldo_medio_var13_corto_ult1,0.811831
8,8,var15,saldo_medio_var5_hace2,saldo_var42,saldo_medio_var5_ult1,num_meses_var5_ult3,saldo_medio_var5_hace3,var38,num_var45_hace2,num_var45_ult1,...,num_var13_0,num_var42_0,num_var8_0,ind_var8_0,num_var45_hace3,num_var22_ult3,imp_op_var39_efect_ult1,num_var13_corto,saldo_var13_corto,0.811699
9,9,var15,saldo_medio_var5_hace2,saldo_var42,saldo_medio_var5_ult3,num_var30,num_var42,num_var5,var36,var38,...,num_var41_0,num_var13,ind_var13,num_var13_0,num_var42_0,imp_op_var41_efect_ult1,num_var45_ult3,imp_op_var39_efect_ult1,ind_var13_corto,0.811232

In [7]:
feats10.head(10)

,Unnamed: 0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,combinedAUC
0,0,var15,saldo_var42,num_var35,num_var4,saldo_medio_var5_ult1,saldo_var5,var38,num_var30_0,imp_op_var41_ult1,...,ind_var13_0,num_var13_0,num_var42_0,num_var8_0,imp_op_var41_efect_ult1,num_var22_ult3,ind_var13_corto,saldo_var13_corto,ind_var43_recib_ult1,0.814596
1,1,var15,saldo_var42,num_var35,num_var4,num_var30,var36,var38,num_meses_var39_vig_ult3,num_var30_0,...,imp_op_var41_ult1,ind_var12_0,ind_var13,ind_var13_0,num_var42_0,num_var45_ult3,ind_var13_corto,saldo_var13_corto,ind_var43_recib_ult1,0.812961
2,2,var15,saldo_medio_var5_hace2,num_var4,num_meses_var5_ult3,num_var42,var36,var38,num_meses_var39_vig_ult3,num_var30_0,...,num_var13,saldo_var13,num_var8_0,ind_var8_0,num_var45_hace3,num_var22_ult3,num_var13_corto,saldo_medio_var13_corto_ult3,ind_var43_recib_ult1,0.812723
3,3,var15,saldo_var42,num_var4,saldo_var5,num_var42,ind_var5,var38,num_meses_var39_vig_ult3,num_var30_0,...,imp_op_var39_ult1,ind_var13,num_var39_0,num_var45_hace3,num_var22_ult3,imp_op_var39_efect_ult1,ind_var13_corto,saldo_var13_corto,saldo_medio_var13_corto_ult1,0.812225
4,4,var15,saldo_var42,num_var35,saldo_var5,saldo_medio_var5_hace3,var36,var38,ind_var39_0,ind_var41_0,...,ind_var13,num_var13_0,ind_var8_0,num_var45_hace3,num_var22_ult3,saldo_var13_corto,saldo_medio_var13_corto_ult3,saldo_medio_var13_corto_ult1,ind_var43_recib_ult1,0.812082
5,5,var15,saldo_var42,num_var35,num_var4,saldo_medio_var5_ult1,saldo_var5,saldo_medio_var5_hace3,num_var5,var36,...,ind_var39_0,ind_var12_0,ind_var13,num_var13_0,num_var42_0,num_var8_0,imp_op_var41_efect_ult1,num_var22_ult3,saldo_var13_corto,0.812064
6,6,saldo_var30,var15,saldo_var42,saldo_medio_var5_ult1,saldo_var5,var36,var38,num_meses_var39_vig_ult3,num_var30_0,...,saldo_var13,num_var39_0,ind_var13_0,imp_op_var41_efect_ult1,num_var45_ult3,num_var22_ult3,imp_op_var39_efect_ult1,saldo_var13_corto,ind_var43_recib_ult1,0.811874
7,7,saldo_var30,var15,saldo_medio_var5_hace2,saldo_var42,num_var35,saldo_medio_var5_ult1,num_var30,ind_var30,num_var42,...,var38,imp_op_var41_ult1,num_var12_0,num_var13_0,num_var42_0,imp_op_var39_efect_ult1,ind_var13_corto,num_var13_corto,saldo_medio_var13_corto_ult1,0.811831
8,8,var15,saldo_medio_var5_hace2,saldo_var42,saldo_medio_var5_ult1,num_meses_var5_ult3,saldo_medio_var5_hace3,var38,num_var45_hace2,num_var45_ult1,...,num_var13_0,num_var42_0,num_var8_0,ind_var8_0,num_var45_hace3,num_var22_ult3,imp_op_var39_efect_ult1,num_var13_corto,saldo_var13_corto,0.811699
9,9,var15,saldo_medio_var5_hace2,saldo_var42,saldo_medio_var5_ult3,num_var30,num_var42,num_var5,var36,var38,...,num_var41_0,num_var13,ind_var13,num_var13_0,num_var42_0,imp_op_var41_efect_ult1,num_var45_ult3,imp_op_var39_efect_ult1,ind_var13_corto,0.811232

In [9]:
feats15.head(5)

,Unnamed: 0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,combinedAUC
0,0,var15,saldo_var42,num_var35,num_var4,saldo_medio_var5_ult1,saldo_var5,var38,num_var30_0,imp_op_var41_ult1,...,ind_var13_0,num_var13_0,num_var42_0,num_var8_0,imp_op_var41_efect_ult1,num_var22_ult3,ind_var13_corto,saldo_var13_corto,ind_var43_recib_ult1,0.814596
1,1,var15,saldo_var42,num_var35,num_var4,num_var30,var36,var38,num_meses_var39_vig_ult3,num_var30_0,...,imp_op_var41_ult1,ind_var12_0,ind_var13,ind_var13_0,num_var42_0,num_var45_ult3,ind_var13_corto,saldo_var13_corto,ind_var43_recib_ult1,0.812961
2,2,var15,saldo_medio_var5_hace2,num_var4,num_meses_var5_ult3,num_var42,var36,var38,num_meses_var39_vig_ult3,num_var30_0,...,num_var13,saldo_var13,num_var8_0,ind_var8_0,num_var45_hace3,num_var22_ult3,num_var13_corto,saldo_medio_var13_corto_ult3,ind_var43_recib_ult1,0.812723
3,3,var15,saldo_var42,num_var4,saldo_var5,num_var42,ind_var5,var38,num_meses_var39_vig_ult3,num_var30_0,...,imp_op_var39_ult1,ind_var13,num_var39_0,num_var45_hace3,num_var22_ult3,imp_op_var39_efect_ult1,ind_var13_corto,saldo_var13_corto,saldo_medio_var13_corto_ult1,0.812225
4,4,var15,saldo_var42,num_var35,saldo_var5,saldo_medio_var5_hace3,var36,var38,ind_var39_0,ind_var41_0,...,ind_var13,num_var13_0,ind_var8_0,num_var45_hace3,num_var22_ult3,saldo_var13_corto,saldo_medio_var13_corto_ult3,saldo_medio_var13_corto_ult1,ind_var43_recib_ult1,0.812082